@use "../../styles/mixin.scss" as mixin;

.bookMarkContainer {
  // height: 56px;
  // width: 56px;
  border-radius: 50%;
  background-color: mixin.$color-off-white;
  border-radius: 30px;
  display: none;
  cursor: pointer;

  p {
    padding-right: 2rem;
  }

  &.active {
    color: mixin.$color-dark-green;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @include mixin.tablet {
    flex-direction: row;
  }
}

.para {
  padding: 1rem;
  text-align: center;
}

.bookMarkContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 1rem;
  // display: none;
}
